* {
    margin: 0px;
    padding: 0%;
    max-width: 100%;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: rgb(255, 255, 255);
}

.Questionário {
    display: flex;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;


}

.Perguntas {
    display: flex;
    
    background-color: rgb(255, 255, 255);
    width: 600px;
    height: 300px;
    justify-content: space-around;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 2px 0px 10px rgba(0, 0, 0, 0.5);
}
@font-face {
    font-family: LemonMilk;
    src: url(../Fontes/lemon_milk/LEMONMILK-Light.otf);
}
.Perguntas h1{
    font-family: LemonMilk;
}
.Perguntas_container {
    display: flex;
    height: 100vh;
    flex-direction: row;
    align-items: center;
}

.botao {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Perguntas button {
    background-color: #4CAF50;
    width: 55%;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    transition-duration: 0.4s;
    border-radius: 12px;
}

.Perguntas button:hover {
    background-color: #451dc5;
    /* Nova cor de fundo */
    color: white;
    /* Cor do texto */
}

/* .Questionário p {
    margin-left: 300px;
}

.Questionário i {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 300px;
}

.Questionário h1 {
    text-align: center;
} */